# Editors
.vscode
.idea

# Compiled
__pycache__/
*.py[cod]
*$py.class

# Packaging
build/
develop-eggs/
dist/
*.egg-info/

# Environments
.env
.venv

# Coverage
htmlcov/
.coverage
output.txt
products_feed_2024-01-09-0402.json
workspace/Marcom_Galileo_Data_Pipeline_Users_-_Test.csv
